# Google Drive temporary sync files
.tmp.driveupload/
.tmp.drivedownload/
.tmp.driveupload*
.tmp.drivedownload*

# Build folders
Debug/
Release/
build/
cmake-build-*/
.vs/

# STM32CubeIDE / Eclipse generated
.metadata/
.settings/
*.launch

# Compiled files
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.list
*.lst
*.su
*.d
*.dep
*.tmp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Backup/temp files
*.bak
*.tmp
*~