Light_App:
get from Command_App the requested light functions (Auto, POS, LowBeam, HighBeam, TurnIndicator, ...)
get from Command_App the luminosity in order to know which shape to be on based on the enviroment light
make global variables for these light shapes (light_functions-drl,pos,lowbeam,fog; blink_functions-left_TI, right_TI, hazzard; lights_auto_function; high_beam_function)
send the shapes, to Light_Control, that need to be set to on (duty_cycle for the light luminosity) or set to off
if auto_shape is requested - decide which light shape to be set (cyclically based on the enviroment light)
if auto_shape is requested - it has priority on the shapes that controls over the normal shape requestes
after the initialization it will command the welcoming lights animation and after that it will go in the normal state (the shape requests)
if the off light is requested for more than 30 seconds, it will command the goodbye lights animation
if high_beam_function is on for more than 10 seconds it will send to Fan_App the command to increase the fan speed
if auto_shape is requested - it will send to Motor_App the request that the motor will be controlled only by the inclination sensor

Command_App:
get from the Command_Control a value from the rotary switch and it il map it to the light functions (off, pos, lowbeam, auto, fog)
get from the Command_Control the value of the high_beam
get from the Command_Control the value for the blinker functions (left_TI, right_TI, hazzard)
send all these commands to the Light_App
get from the Command_Control the value for the highe beam's potentiometer position (for the HighBeam controlled LEDSs) and sends it to the Light_App

Motor_App:
afther the Init of the app it will do a referentiation in order to set the motor at the center of course
get from Command_Control the potentiometer value and calculates the level position on which the motor should be sent
get from Command_Control the values from the tilt sensors
get from the Light_App the auto function request. This request is uesd to determine which command should the motors execute (the one from the tilt sensor, or the one from the pot)
calculates the new position of the motor related to the actual one.
it will not call the Motor_Control for a new position until the Motor_Control will not report that the motor has reached its destination position (hence it will get from Motor_Control the movement status of the motor)
it will call the request to the Motor_Control which will have as parameter the steps that are need to be done to the desired position of the motor
the steps will be calculated as 31 steps for "down" and 32 steps for "up" with the middle position it will have the 64 steps

Fan_App:
get from Light_App the request for increase the fan speed
get from the Fan_Control the value of the temperature and calculates the fan speed (one of the 5 steps) that need to be sent to Fan_Control

Light_Control:
gets from the Light_App which light shape to be turned on and its luminosity (duty_cycle)
it will send to the pins and to the shift register the command for the LEDs

Command_Control:
it will read a rotary switch value and it will trunchiate it to 5 values - more detailes later
it will read the high_beam button
it will read the blinker functions (right_TI, left_TI, hazzard) from the a rotary button - more details later
all these values will be sent to the Command_App
it will read the a potentiometer for the manual  adjustment of the motors (this value should be mapped on a 64 step scale)
it will read 2 inclination sensors (for up and down) in order to have the leveling value (this value should be mapped on a 64 step scale)
these 2 values will be sent to the Motor_App

Fan_Control:
read the temperature of the headlamp through the pin -> - maps the temperature value to [0,150] -> sends the value to Fan_App
get the fan speed from Fan_App and then adjust the speed (5 speeds: 0, 25, 50, 75, 100) of the FAN through the pin

Motor_Control:
it will get a request from the Motor_App for the steps that are needed to be done for the new position
after the motor reached its position it will signal the Motor_App that the previous position requested was reached


all the pins will be managed lately in an other request. the main headlamp project is found in https://github.com/NSzIstvan/far/tree/main/Core/HeadLamp, 
the _App are found in the App folder and the _Control are found in the HAL folder. All the comunication are done through the RTE which is found in the RTE folder
(please respect the format that is already done)
Please take in consideration what is already done and write the code to be according of what already exsists.